<md-dialog flex="50" ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Item Import Info</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" style="max-height:400px;overflow:auto">

            <div class="tab-content">
                <div class="row  form-group" style="border-bottom: 1px solid #eee;">
                    <div class="col-md-3" style="text-align:right">
                        <label>Fail Item Name</label>
                    </div>
                    <div class="col-md-8 ">
                        <label>Failed Reason</label>
                    </div>
                </div>
                <div class="row  form-group" ng-repeat=" item in failItems" style="border-bottom: 1px solid #eee;">
                    <div class="col-md-3" style="text-align:right">
                        {{item.failedItemName}} :
                    </div>
                    <div class="col-md-8 ">
                        {{item.failedReason}}
                    </div>
                </div>

            </div>
        </div>
    </md-dialog-content>
</md-dialog>