<div class="table-scrollable">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Item</th>
            <th>QTY</th>
            <th>Unit</th>
            <th>SN</th>
            <th>From LP</th>
            <th>To LP</th>
            <th>Packed When</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="historyLine in historyItemLines">
            <td><item-display item="historyLine"></item-display></td>
            <td>{{historyLine.qty}}</td>
            <td>{{historyLine.unitName}}</td>
            <td> <span ng-repeat="sn in historyLine.snList">{{sn}}&nbsp;</span></td>
            <td>{{historyLine.fromLPId}}</td>
            <td>{{historyLine.toLPId}}</td>

            <td>{{historyLine.packedWhen | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}
                <span ng-show="historyLine.packedBy">({{historyLine.packedBy}})</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>