<div class="grid-100 row">
  <div class=" grid-100 grid-content">
    <div class="grid-parent grid-100 container">
      <h1 class="section-label pull-left">Equipment List</h1>
      <a class="create-button" ui-sref="cf.facility.resource.equipment.add">
        <b>Create Equipment</b>
      </a>
      <hr>
    </div>
    <div class="grid-parent grid-100 container">

      <div class="grid-25">
        <label class="label-input">Name</label>
        <input type="text" ng-model="searchParam.name" />
      </div>
      <div class="grid-25">
        <label class="label-input">Status</label>
        <ui-select name="status" ng-model="searchParam.status">
          <ui-select-match allow-clear="true">
            <span ng-bind="$select.selected"></span>
          </ui-select-match>
          <ui-select-choices repeat="status in ['Active', 'Inactive'] | filter: $select.search">
            {{status}}
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="grid-25">
        <label class="label-input">Type</label>
        <ui-select name="status" ng-model="searchParam.type">
          <ui-select-match allow-clear="true">
            <span ng-bind="$select.selected"></span>
          </ui-select-match>
          <ui-select-choices repeat="type in ['Forklift'] | filter: $select.search">
            {{type}}
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="grid-25">
        <label class="label-input">Hlp ID</label>
        <input type="text" ng-model="searchParam.hlpId" />
      </div>
    </div>

    <div class="grid-parent grid-100 container">
      <div class="grid-90">&nbsp;</div>
      <div class="grid-10 ">
        <waitting-btn type="button" btn-class="ripplelink" ng-click="search()" value="'Search'" is-loading="loading"></waitting-btn>
      </div>


    </div>
  </div>
</div>
<div class="grid-100 row">
  <div class="grid-content grid-100">
    <div class="grid-parent grid-100 container">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>Hlp ID</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="facilityEquipment  in facilityEquipments  track by $index">
            <td>{{facilityEquipment.id}} </td>
            <td>{{facilityEquipment.name}} </td>
            <td>{{facilityEquipment.type}}</td>
            <td>{{facilityEquipment.status}}</td>
            <td>{{facilityEquipment.hlpId}}</td>
            <td>
              <a ui-sref="cf.facility.resource.equipment.edit({id:facilityEquipment.id})">Edit</a>&nbsp;|&nbsp;
              <a ng-click="delete(facilityEquipment.id)">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- <div class="grid-100">
  <div class="grid-content grid-100">
      <unis-pager total-count="locationTags.length" page-size="pageSize" load-content="loadContent(currentPage)"></unis-pager>
  </div>
</div> -->