<ui-select ng-model="$parent.ngModel" on-select="_onSelect($select.selected)"
           required="{{required}}" name="{{name}}" ng-disabled="$parent.ngDisabled">
    <ui-select-match allow-clear="{{allowClear}}"  placeholder="{{placeholder}}">
        <span ng-bind="$select.selected.name"></span>
    </ui-select-match>
    <ui-select-choices repeat="item.id as item in itemSpecList | filter: $select.search"
                       refresh="searchItem($select.search)" refresh-delay="50">
        <b>{{item.name}}</b> [{{item.desc || 'N/A'}}]
    </ui-select-choices>
    <ui-select-no-choice>
        No available item.
    </ui-select-no-choice>
</ui-select>