<div  style="background-color: rgba(122, 206, 214, 0.11);
       padding:10px 10px 0px 10px; margin-bottom: 15px;" >
    <div>
        <div style="width:95%; float:left;">
            <div class="row form-group">
                <div class="col-md-4">
                    <label class="bold">Item:</label>
                    <label><item-display item="itemLine"></item-display></label>
                </div>
                <div class="col-md-2">
                    <label class="bold">UOM:</label>
                    <label> {{itemLine.unitName}} </label>
                </div>
                <div class="col-md-2">
                    <label class="bold">QTY:</label>
                    <label> {{itemLine.qty}} </label>
                </div>

            </div>
            <div class="row form-group" ng-show="showLocation == 'true'">
                <div class="col-md-12" ng-show="showLocation == 'true'">
                    <label class="bold">Pick Locations(Base QTY):</label>
                    <label ng-repeat="strategy in itemLine.strategies">
                      <span class="label box-shadow-none label-success" style="margin-left: 5px; padding: 5px; background-color: #7baeb2;">
                          {{strategy.locationName}} ： {{strategy.baseQty}}  ({{strategy.itemSpecName}})</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="tools" ng-show="itemLine.bundle" style="float:right;">
            <a class="expand-a" ng-class="{'expand': isExpand, 'collapse': !isExpand}"
               data-original-title="" title="" ng-click="expandOrClose()"></a>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div ng-show="isExpand">
        <div class="form-group" style="margin-bottom: 5px;" ng-repeat="item in itemLine.itemBundle.items">
            <div class="col-md-4">
                <label class="bold">Item:</label>
                <label> {{item.itemSpecName}} </label>
            </div>
            <div class="col-md-3">
                <label class="bold">Base QTY:</label>
                <label> {{item.qty}} </label>
            </div>
            <div class="col-md-3">
                <label class="bold">UOM:</label>
                <label> {{item.unitName}} </label>
            </div>
        </div>
    </div>

</div>
