<ui-select name="{{name}}" ng-model="$parent.ngModel" required="{{required}}"
           on-select="_onSelect($select.selected)"
           on-remove="_onRemove($select.selected)" multiple>
    <ui-select-match>
        {{$item.name}}
    </ui-select-match>
    <ui-select-choices repeat="itemGroup.id as itemGroup in itemGroupList | filter: $select.search.name"
                       refresh="searchItemGroup($select.search)" refresh-delay="50">
        <div ng-bind="itemGroup.name"></div>
    </ui-select-choices>
    <ui-select-no-choice>
        No available option.
    </ui-select-no-choice>
</ui-select>