<ui-select name="{{name}}" ng-model="$parent.ngModel" required="{{required}}" ng-disabled="ngDisabled"
           on-select="_onSelect($select.selected)">
    <ui-select-match allow-clear="{{allowClear}}">
        <div ng-bind="$select.selected.name"></div>
    </ui-select-match>
    <ui-select-choices repeat="t.id as t in templates | filter: $select.search.name"
                       refresh="getTemplates($select.search)" refresh-delay="50">
        <div ng-bind="t.name"></div>
    </ui-select-choices>
    <ui-select-no-choice>
        No available option.
    </ui-select-no-choice>
</ui-select>