<md-dialog flex="50">
    <form class="light-theme"  novalidate name="editForm" ng-submit="editForm.$valid && save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{formTitle}}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-height: 200px; padding-top: 20px;">
            <div class="form-group">
                <label class="control-label col-md-2" style="text-align: right;">Assignees:</label>
                <div class="col-md-7">
                    <input-validation-message field="assignees" form="editForm"></input-validation-message>
                    <multiple-user-auto-complete name="assignees" ng-model="step.assigneeUserIds"
                                                 on-select="onSelectUser(user)"  on-remove="onRemoveUser(user)"></multiple-user-auto-complete>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <div class="row form-group">
                <div style="color: red; ">{{errorMsg}}</div>
            </div>
            <div class="form-group" style="padding-right:75px; margin-top:20px; margin-bottom: 20px;">
                <waitting-btn type="submit" btn-class="btn blue" value="'Save'" is-loading="loading"></waitting-btn>
                <!--<waitting-btn ng-type="submit" btn-class="btn blue" value="'Save'" is-loading="loading"></waitting-btn>-->
                <button type="button" class="btn default" ng-click="cancel(editForm)">Cancel</button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
