
#unis .timeline h1, #unis .timeline h2, #unis .timeline h3, #unis .timeline h4, #unis .timeline h5, #unis .timeline h6 {
    line-height: inherit;
}
#unis .timeline-item {
    padding-left: 40px;
    position: relative;
}
#unis .timeline-item:last-child {
    padding-bottom: 0;
}
#unis .timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
}
#unis .timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
}
#unis .timeline-marker:before {
    background: #FF6B6B;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
#unis .timeline-marker:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
}
.timeline-item:last-child #unis .timeline-marker:after {
    content: none;
}
#unis .timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid #FF6B6B;
}
#unis .timeline-content {
    padding-bottom: 40px;
}
#unis .timeline-content p:last-child {
    margin-bottom: 0;
}
#unis .period {
    padding: 0;
}
#unis .period .timeline-info {
    display: none;
}
#unis .period .timeline-marker:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid #CCD5DB;
    border-bottom: 3px solid #CCD5DB;
}
#unis .period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto;
}
#unis .period .timeline-content {
    padding: 40px 0 70px;
}
#unis .period .timeline-title {
    margin: 0;
}
@media (min-width: 768px) {
    #unis .timeline-split .timeline, #unis .timeline-centered .timeline {
        display: table;
    }
    #unis .timeline-split .timeline-item, #unis .timeline-centered .timeline-item {
        display: table-row;
        padding: 0;
    }
    #unis .timeline-split .timeline-info, #unis .timeline-centered .timeline-info,
    #unis .timeline-split .timeline-marker,
    #unis .timeline-centered .timeline-marker,
    #unis .timeline-split .timeline-content,
    #unis .timeline-centered .timeline-content,
    #unis .timeline-split .period .timeline-info,
    #unis .timeline-centered .period .timeline-info {
        display: table-cell;
        vertical-align: top;
    }
    #unis .timeline-split .timeline-marker, #unis .timeline-centered .timeline-marker {
        position: relative;
    }
    #unis .timeline-split .timeline-content, #unis .timeline-centered .timeline-content {
        padding-left: 30px;
    }
    #unis .timeline-split .timeline-info, #unis .timeline-centered .timeline-info {
        padding-right: 30px;
    }
    #unis .timeline-split .period .timeline-title, #unis .timeline-centered .period .timeline-title {
        position: relative;
        left: -45px;
    }
}
@media (min-width: 992px) {
    #unis .timeline-centered,
    #unis .timeline-centered .timeline-item,
    #unis .timeline-centered .timeline-info,
    #unis .timeline-centered .timeline-marker,
    #unis .timeline-centered .timeline-content {
        display: block;
        margin: 0;
        padding: 0;
    }
    #unis .timeline-centered .timeline-item {
        padding-bottom: 40px;
        overflow: hidden;
    }
    #unis .timeline-centered .timeline-marker {
        position: absolute;
        left: 50%;
        margin-left: -7.5px;
    }
    #unis .timeline-centered .timeline-info,
    #unis .timeline-centered .timeline-content {
        width: 50%;
    }
    #unis .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
        float: left;
        text-align: right;
        padding-right: 30px;
    }
    #unis .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
        float: right;
        text-align: left;
        padding-left: 30px;
    }
    #unis .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
        float: right;
        text-align: left;
        padding-left: 30px;
    }
    #unis .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
        float: left;
        text-align: right;
        padding-right: 30px;
    }
    #unis .timeline-centered > .timeline-item.period .timeline-content {
        float: none;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    #unis .timeline-centered .timeline-item.period {
        padding: 50px 0 90px;
    }
    #unis .timeline-centered .period .timeline-marker:after {
        height: 30px;
        bottom: 0;
        top: auto;
    }
    #unis .timeline-centered .period .timeline-title {
        left: auto;
    }
}
#unis .marker-outline .timeline-marker:before {
    background: transparent;
    border-color: #FF6B6B;
}
#unis .marker-outline .timeline-item:hover .timeline-marker:before {
    background: #FF6B6B;
}

#unis .timeline-li-title {
    border-bottom: 1px solid #dedfe4;
}

#unis .timeline-content-block {
    margin-bottom: 10px;
}

#unis .timeline-li-content {
    padding-left:20px;
}