<md-dialog flex="60" ng-cloak id="unis">
    <form class="light-theme">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Report Exception</h1>
                <span flex></span>
                <i class="fa fa-times" ng-click="cancel()"></i>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div id="files" class="row">
                    <div class="grid-100">
                        <div class="grid-content">
                            <div class="grid-parent grid-100 file-container">
                                <div class="grid-parent grid-100" style="margin-bottom:10px">
                                    <label class="control-label" style="font-size: 18px;font-weight: 900;">Comment:</label>
                                    <textarea type="text" class="form-control" ng-model="entryTicketReject.comment"></textarea>
                                </div>
                                <div class="grid-parent grid-100" style="border: 1px solid #ddd;position: relative; ">
                                    <label class="control-label" style="font-size: 18px;font-weight: 900;">Upload File:</label>
                                    <ul class="file-list" style="height:300px">
                                        <li style="width: 100%; margin: 0px;padding: 5px 10px;height: auto; border: none;text-align: left;">
                                            <div class="btn blue" style="width: 150px; position: relative;">
                                                <input type="file" multiple="multiple" style="width: 100%; display: block;opacity:0; filter:alpha(opacity=0);height: 100%;position: absolute;left: 0; top:0;z-index:1; cursor: pointer; "
                                                    onchange="angular.element(this).scope().uploadFileChange(this)"
                                                    accept="image/*" />
                                                <waitting-btn type="button" btn-class="ripplelink" value="'Upload Photo'"
                                                    is-loading="FileLoading">
                                                </waitting-btn>
                                            </div>
                                        </li>
                                        <li ng-repeat="photo in batchPhotoLists">
                                            <div class="file">
                                                <img http-src="{{photo.img}}" ng-click="viewPhotos($event)">
                                                <div class="file-overlay">
                                                    <button class="ripplelink" style="bottom: 10px;position: absolute;left: 20px;"
                                                        ng-click="removeBatchPhoto($index)"><i class="fa fa-times"
                                                            style="top:5px"></i>Delete</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions style="padding: 0">
            <div class="grid-100">
                <div class="grid-content">
                    <div class="grid-100 grid-parent container">
                        <div class="grid-80">&nbsp;</div>
                        <div class="grid-10">
                            <div style="margin-right: 10px">
                                <waitting-btn type="button" btn-class="btn blue" is-loading="isLoading" ng-click="confirm()"
                                    value="'ok'">
                                </waitting-btn>
                            </div>
                        </div>
                        <div class="grid-10" style="float:right">
                            <button type="button" ng-click="cancel() " class="btn default ">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-actions>
    </form>

</md-dialog>
<div ng-show="isViewPhoto">
    <div style="position:fixed;z-index:998;top:0;left:0;right:0;bottom: 0;background:black; opacity:0.7" ng-click="closePhotoView()">
    </div>
    <div ng-style="{'margin-top':photoHeight,'margin-left':photoWidth}" style="position:absolute;z-index:999; top: 50%;left: 50%;">
        <img src="{{photoView}}" />
        <i class="material-icons" style="position: absolute;top: -20px;color: white;right: -20px;font-size: 30px;cursor: pointer; background: black;border-radius: 50%;"
            ng-click="closePhotoView()">close</i>
    </div>
</div>