<md-dialog flex="50" >

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Batch Complete</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
   
        <div class="col-md-12" style="min-height: 350px;">
            <div class="col-md-4" style="padding-top: 10px;">
                <label>To SLP:</label>
                <input type="text" ng-model="param.toSlp" style="height:34px">
            </div>
            <div class="col-md-4" style="padding-top: 10px;">
                <label>LP Template: </label>
                <ui-select  name="lpTemplate" ng-model="param.lpTemplateId">
                    <ui-select-match allow-clear="true">
                        <div ng-bind="$select.selected.lpTemplate.name"></div>
                    </ui-select-match>
                    <ui-select-choices repeat="lpTemplate.lpConfigurationTemplateId as lpTemplate in lpTemplateList | filter: $select.search">
                        <div ng-bind="lpTemplate.lpTemplate.name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
            <div class="form-group">
                <div class="col-md-12"  style="text-align: right;">
                    <button class="btn blue" ng-click="confirm()">Confirm</button>&nbsp;&nbsp;
                    <button class="btn default" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </md-dialog-actions>
</md-dialog>