<md-dialog flex="50">
    <form novalidate name="priorityForm" class="form-horizontal">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Select a dock to go first.</h2>
            </div>
        </md-toolbar>
        <md-dialog-content class="" style="padding: 20px 10px 90px">

            <div class="form-group" style="margin:0">

                <label class="control-label col-md-5" style="margin-bottom: 5px;"> 
                         Entry Dock:<span>(Select dock to go first)</span>
                         </label>
                <div class="col-md-6">
                    <ui-select ng-model="entry.dockId" name="keyword" placeholder="Dock Id">
                        <ui-select-match placeholder="Select a dock to go first">
                            {{$select.selected.name}} : {{$select.selected.dockStatus}}
                        </ui-select-match>
                        <ui-select-choices repeat="dock.id as dock in selectedTaskDocks">
                            <div class="row select-load-receipt-head" ng-show="$index == 0" style="padding: 3px;">
                                <div class="col-md-6 bold">
                                    Dock Name
                                </div>
                                <div class="col-md-6 bold">
                                    Status
                                </div>
                            </div>
                            <div class="row form-group" style="padding: 0px; margin: 0px;">
                                <div class="col-md-6">
                                    {{dock.name}}
                                </div>
                                <div class="col-md-6">
                                    {{dock.dockStatus}}
                                </div>
                            </div>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            No Dock found !!!
                        </ui-select-no-choice>
                    </ui-select>
                </div>

            </div>


        </md-dialog-content>
        <md-dialog-actions layout="row">
            <div ng-show="isSelectDock" style="padding-right:100px">
                <span style="color:red">
                    Please Select Dock !
                </span>
            </div>
            <div style="margin-right: 50px">
                <button type="submit" class="btn blue" ng-click="submit()">Save
                </button>
                <button type="button" class="btn default" ng-click="cancel()">Cancel</button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>