<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">User</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Tag</a>
        </li>
    </ul>
</div>
<div id="user-tags" class="portlet light bordered" style="margin: 15px">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Tag Management
        </div>
    </div>
    <div class="portlet-body">
        <div class="form">
            <div class="form-group">
                <input type="text" class="form-control tag-label-input" ng-model="name" placeholder="Please input tag label">
                <button class="btn blue" ng-click="addTag()"   permission-check="{{'user::tag_write'}}">Add Tag</button>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div ng-repeat="tag in tags" class="tag col-xs-3">
                    <span class="label label-default text-transform-none ">
                        {{tag.name}}<i class="material-icons"
                                       permission-check="{{'user::tag_write'}}"
                                       ng-click="removeTag(tag)">clear</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>