<md-dialog flex="60">
    <form novalidate name="addItemLineForm" class="form-horizontal">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add Kitting Item</h2>
        </div>
    </md-toolbar>
    <md-dialog-content class="" style="padding: 40px 40px 30px 14px;">
        <div class="form-group">
            <label class="control-label col-md-2" style="margin-bottom: 5px;">Item:</label>
            <div class="col-md-7">
                <input-validation-message field="itemSpec" form="addItemLineForm"></input-validation-message>
                <kitting-item-auto-complete ng-model="currentItem.itemSpecId"
                                        on-select="itemSpecIdOnSelect(itemSpec)"
                                        customer-id="customerId"
                                        ext-param="{statuses:['Active', 'Discontinue']}"
                                        tags=['Product']
                                        required="true"
                                        name="itemSpec"
                                        ng-disabled="!isAddItemline && isUpdateItemLineDisabled('itemSpec')"/>
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 15px;">
            <span class="col-md-2"></span>
            <span class="col-md-5"><a ui-sref="fd.item.itemspec.edit" target="_blank">Setup New Item Spec</a></span>
        </div>
        <div class="form-group" style="margin-bottom: 15px;" ng-if="iskidItem">
            <span class="col-md-2"></span>
            <span class="col-md-5" style="color: red">{{kittingItemName}} not kid items </span>
        </div>
        <div class="item-line-diverse-container" ng-show="diverseFields && diverseFields.length>0">
            <div class="form-group">
                <div class="col-md-7" style="text-align: right;">
                    <button type="button" class="btn default" ng-click="resetFilter()"
                            ng-disabled="!isAddItemline && isUpdateItemLineDisabled('itemSpec')">Reset Filter</button>
                </div>
            </div>
            <div class="form-group" ng-switch on="field.itemProperty.type" ng-repeat="field in diverseFields">
                <label class="control-label col-md-2">{{field.itemProperty.name}}:</label>
                <div class="col-md-5">
                    <input-validation-message field="field.{{$index}}.value" form="addItemLineForm"></input-validation-message>
                    <ui-select name="field.{{$index}}.value" ng-model="field.selectedProduct"
                               ng-show="field.availableDiverseValues && field.availableDiverseValues.length>0"
                               on-select="diverseValuesSelected(field)"
                               ng-required="field.availableDiverseValues && field.availableDiverseValues.length>0"
                               ng-disabled="!isAddItemline && isUpdateItemLineDisabled('itemSpec')">
                        <ui-select-match>
                            <div>{{$select.selected.value}} {{$select.selected.unit}}</div>
                        </ui-select-match>
                        <ui-select-choices repeat="diverseObj in diverseValuesMap[field.propertyId] | filter: $select.search">
                            <div>{{diverseObj.value}} {{diverseObj.unit}}</div>
                        </ui-select-choices>
                    </ui-select>
                    <div ng-show="!field.availableDiverseValues || field.availableDiverseValues.length == 0"
                         style="margin-top:8px;">
                        No product in the inventory
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Title:</label>
            <div class="col-md-7">
                <input-validation-message field="title" form="addItemLineForm"></input-validation-message>
                <organization-auto-complete name="Title" on-select="titleOnSelect(org)" tag="Title"
                                            ng-model="titleId" required="true"
                                            customer-id="customerId"
                                            ng-disabled="!isAddItemline && isUpdateItemLineDisabled('title')"></organization-auto-complete>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Supplier:</label>
            <div class="col-md-7">
                <organization-auto-complete name="supplier" on-select="supplierOnSelect(org)"
                                            tag="Supplier" allow-clear="true"
                                            ng-model="supplierId"
                                            customer-id="customerId"
                                            ng-disabled="!isAddItemline && isUpdateItemLineDisabled('supplier')"></organization-auto-complete>
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-2 ">Qty:</label>
            <div class="col-md-7 ">
                <input-validation-message field="qty" form="addItemLineForm"></input-validation-message>
                <input type="number" name="qty" class="form-control"
                       ng-model="itemqty" REQUIRED="true"
                       ng-disabled="!isAddItemline && isUpdateItemLineDisabled('qty')"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 ">Pallet Qty:</label>
            <div class="col-md-7 ">
                <input-validation-message field="palletQty" form="addItemLineForm"></input-validation-message>
                <input type="number" name="palletQty" class="form-control"
                       ng-model="palletQty"
                       ng-disabled="!isAddItemline && isUpdateItemLineDisabled('palletQty')"/>
            </div>
        </div>

        <div class="form-group" ng-show="!isAddItemline">
            <label class="control-label col-md-2">Adjusted Pallet Qty:</label>
            <div class="col-md-7 ">
                <input type="number" name="adjustedPalletQty"  ng-disabled="!isAddItemline && isUpdateItemLineDisabled('adjustedPalletQty')"
                       class="form-control" ng-model="adjustedPalletQty" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Total Insurance Amount:</label>
            <div class="col-md-7 ">
                <input name="currentItem.totalInsuranceAmount" class="form-control" ng-model="currentItem.totalInsuranceAmount" type="number" />
            </div>
        </div>
        <div class="form-group" ng-show="!isAddItemline">
            <label class="control-label col-md-2">Order Weight:</label>
            <div class="col-md-7 ">
                <input type="number" name="OrderWeight"  class="form-control" ng-model="orderWeight" />
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">LP Template:</label>
            <div class="col-md-7">
                <ui-select ng-model="lpConfigurationId" name="lpConfigurationId"
                           ng-disabled="!isAddItemline && isUpdateItemLineDisabled('lpConfigurationId')" on-select="lpConfigsOnSelect($select.selected)">
                    <ui-select-match  allow-clear="true">
                        <span ng-bind="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="lpTemplate.id as lpTemplate in orderLineLpTemplates | filter:{ name: $select.search }">
                        <span ng-bind="lpTemplate.name"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2 ">Lot#:</label>
            <div class="col-md-7 ">
                <input type="text" name="lotNo" class="form-control"  ng-disabled="!isAddItemline && isUpdateItemLineDisabled('lotNo')"
                       ng-model="lotNo"/>
            </div>
        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <div style="margin-right: 50px">
            <button type="submit" class="btn blue" ng-click="addItemLineForm.$valid && submit()" ng-disabled="isSave">Save</button>
            <button type="button" class="btn default" ng-click="cancel()">Cancel</button>
        </div>
    </md-dialog-actions>
    </form>
</md-dialog>

