<div class="grid-100 row">
    <div class="grid-content grid-100">

        <div class="grid-parent grid-100 container">
            <h1 class="section-label pull-left">
                <span ng-show="isAddAction" class="caption-subject bold"> Add Conveyor Line</span>
                <span ng-show="!isAddAction" class="caption-subject bold"> Edit Conveyor Line</span>
                <span ng-show="!isAddAction" class="caption-subject bold"> LineId: {{conveyorLine.id}}
                    {{conveyorLine.$valid}}</span>
            </h1>
        </div>
        <div class="grid-parent grid-100 container">
            <form novalidate name="conveyorLineForm" ng-submit="conveyorLineForm.$valid && addOrUpdateConveyorLine()">
                <div class="grid-parent grid-100 container">

                    <label class="label-input grid-10">Name:</label>
                    <div class="grid-60">
                        <div class="input-icon right" ng-show="conveyorLineForm.name.$invalid && (conveyorLineForm.$submitted || conveyorLineForm.name.$touched)">
                            <i class="fa fa-warning tooltips lt-tooltip has-error">
                                <span class="lt-tooltip-text">Required.</span>
                            </i>
                        </div>
                        <input type="text"  name="name" ng-model="conveyorLine.name" required>
                    </div>
                </div>
                <div class="grid-parent grid-100 container">

                    <label class="label-input grid-10">Status:</label>
                    <div class="grid-60">
                        <ui-select ng-model="conveyorLine.status" class="form-control">
                            <ui-select-match allow-clear="true">
                                <div ng-bind="$select.selected"></div>
                            </ui-select-match>
                            <ui-select-choices repeat="status in ['AVAILABLE','UNAVAILABLE'] | filter: $select.search">
                                <div ng-bind="status"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>


                </div>
                <div class="grid-parent grid-100 container">
                    <unis-waitting-btn btn-type="submit" btn-class="grid-10 ripplelink pull-right button-between" value="submitLabel"
                        is-loading="loading"></unis-waitting-btn>
               
                    <button type="button" class="grid-10 pull-right cancel" ng-click="cancelEditConveyor()">Cancel</button>

                </div>
            </form>
        </div>
    </div>
</div>