<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">WMS</a>
        </li>
        <li>
            <i class="fa fa-circle"></i>
            <a href="#">Task</a>
        </li>
        <li>
            <i class="fa fa-circle"></i>
            <a href="#">Pack</a>
        </li>
        <li>
            <i class="fa fa-circle"></i>
            <a href="#">Create Pack Task</a>
        </li>
    </ul>
</div>
<div class="container-fluid" style="margin:15px">
    <div class="row">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold"> Batch Create Pack Task</span>
                </div>
            </div>
            <div class="portlet-body form form-horizontal">
                <form  name="editForm" novalidate ng-submit="editForm.$valid && save()">
                    <div class="row form-group">
                        <div class="col-md-6">
                           <div style="margin-bottom: 15px;
                           background-color:rgba(219, 242, 245, 0.83); padding:20px; color: black;"
                                ng-repeat="orderIds in batchTaskOrderIds">
                               <div>
                                   <label style="margin-right: 8px;" ng-repeat="orderId in orderIds"><a>{{orderId}}</a></label>
                               </div>
                               <div>
                                   <label class="bold">Ship To:</label><span>{{orderMap[orderIds[0]].shipToAddressStr}}</span>
                               </div>
                           </div>
                        </div>
                        <div class="col-md-6" style="padding: 20px; background-color: #cbebef;">
                            <div class="row form-group">
                                <label class="col-md-2  control-label"> Assignee: </label>
                                <div class="col-md-10">
                                    <input-validation-message field="assignee" form="editForm"></input-validation-message>
                                    <user-auto-complete name="assignee" ng-model="packTask.assigneeUserId" required="true"></user-auto-complete>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-2  control-label"> Description: </label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" ng-model="packTask.description"/>
                                </div>
                            </div>
                            <div class="row form-actions right">
                                <waitting-btn type="submit" btn-class="btn blue"
                                              value="'Save'" is-loading="loading"></waitting-btn>
                                <div class="btn gray" ng-click="cancel()">Cancel</div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
